<button class="btn btn-success menu" onclick="location.href='/'" type="button">
  Menu
</button>

<div class="container h-100">
  <div class="row h-100 justify-content-center">
    <div class="col-sm-10 topdiv">

      <mat-form-field [hidden]="false">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Name" [formControl]="search">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" (matSortChange)="populateCars()" matSort
               matSortActive="id" matSortDirection="asc" matSortDisableClear>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let car"> {{car.id}} </td>
          </ng-container>

          <ng-container matColumnDef="make">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Make</th>
            <td mat-cell *matCellDef="let car"> {{car.make}} </td>
          </ng-container>

          <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
            <td mat-cell *matCellDef="let car"> {{car.model}} </td>
          </ng-container>

          <ng-container matColumnDef="numberplate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Numberplate</th>
            <td mat-cell *matCellDef="let car"> {{car.numberplate}} </td>
          </ng-container>

          <ng-container matColumnDef="info">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button class="btn-primary" mat-button (click)="getCarInfo(row.id)">Info</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [length]="totalElements"
                       showFirstLastButtons (page)="populateCars()">
        </mat-paginator>
      </div>
    </div>

    <div class="col-sm-10">
      <div class="jumbotron">
        <div *ngIf="car">
          <h2>Car:</h2>
          <p>
            Id: <b>{{car.id}}</b>,
            make: <b>{{car.make}}</b>,
            model: <b>{{car.model}}</b>,
            numberplate: <b>{{car.numberplate}}</b>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
