.container {
  margin-top: 20px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-row:hover {
  background-color: #E8E8E8
}
td, th {
  width: 25%;
}
th {
  font-size: medium;
}
table {
  width: 100%;
}
.jumbotron {
  margin-top: 10px;
  padding-left: 20px;
  padding-top: 10px;
  min-height: 160px;
  max-height: 200px;
}

p {
  margin-left: 25px;
  font-family: SansSerif, sans-serif;
  font-size: 16px;
}

.menu {
  margin-top: 10px;
  margin-right: 25px;
  position:absolute;
  top:0;
  right:0;
}



